# Dependencias
node_modules/

# Archivos de build (si usas Tailwind con build a CSS final)
dist/
build/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos de editor/IDE
.vscode/
.idea/
*.swp
